body{
    font-family: Arial;
    padding: 20px;
}

h1{
    color: #333;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    padding: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    padding: 6px 10px;
}
